<html>
<head>
    <title>Date App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--     <link rel="stylesheet" type="text/css" media="screen and (max-width: 500px)"
    href="/styles/test.css" /> -->
    <link type="text/css" href="/styles/reset.css" rel="stylesheet">
    <link type="text/css" href="/styles/main.css" rel="stylesheet">
</head>
<body>
    <div class="page-width">
        <div class="block block-user-create">
            <form action="user/add" method="post">
                <div class="form-holder">
                    <div class="entry form-group">
                        <label for="">Name: </label>
                        <input type="text" name="name" />
                    </div>
                    <div class="entry form-group">
                        <label for="">Start Date: </label>
                        <input type="text" name="start_date" />
                    </div>
                    <div class="entry form-group">
                        <label for="">End Date: </label>
                        <input type="text" name="end_date" />
                    </div>
                </div>
                <!-- <a class="btn btn-default" href="user/add">Submit</a> -->
                <input type="submit" />
            </form>
        </div>
        <div class="block block-user-list">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                <% _.each(list, function (user){ %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.start_date %></td>
                        <td><%= user.end_date %></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>